@{
    ViewBag.Page = "PRODUCT DETAILS";
}
@model CardGridItemVM

<partial name="/Views/Partials/_Header.cshtml" />
<partial name="/Views/Partials/_Breadcrumb.cshtml" />


<section class="product-details">
    <div class="container">
        <div class="imagegrid-prinfo">
            <div class="image-grid">
                @*<img src="~/images/placeholders/501x430.svg" id="img1"/>*@
                <img src="@Model.ImageUrl" id="img1"/>
                <img src="@Model.ImageUrl" />
                <img src="@Model.ImageUrl" />
                <img src="@Model.ImageUrl" />
                <img src="@Model.ImageUrl" />
                @*<img src="~/images/placeholders/120x113.svg" />*@
            </div>
            <div class="product-info">
                <h4>@Model.Name</h4>
                <p class="_text-info">@Model.Description</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>16 Reviews</p>
                </div>
                <p class="price">$@Model.Price</p>
                <div class="qty-addtocart">
                    <div class="qty-btn-container">
                        <button>-</button>
                        <div class="input">1</div>
                        <button>+</button>
                    </div>
                    <button class="add-btn">Add to Cart  <i class="fa-regular fa-cart-plus"></i></button>
                </div>
                <div class="color-dots">
                    <a href="" class="dot red"></a>
                    <a href="" class="dot yellow"></a>
                    <a href="" class="dot green"></a>
                    <p>SKU: N/A</p>
                </div>
                <button class="wishlist-btn">Add to wishlist</button>
                <p class="misc">Category: Table Lamp, Light</p>
            </div>
        </div>
        <div class="tab">
            <div class="tabs">
                <button id="defaultBtn" class="tablinks" onclick="openCity(event, 'desc')">DESCRIPTION</button>
                <button class="tablinks" onclick="openCity(event, 'info')">ADDITIONAL INFO</button>
                <button class="tablinks" onclick="openCity(event, 'review')">REVIEWS (0)</button>
                <button class="tablinks" onclick="openCity(event, 'shipDeliv')">SHIPPING & DELIVERY</button>
            </div>
            <div class="tabs-content">
                <div id="desc" class="tabcontent">
                    <h3>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h3>
                    <div class="flex-tab">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                            <p>accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
                            <p>Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                        </div>
                        <img src="images/469x356.svg">
                    </div>
                </div>
                <div id="info" class="tabcontent">
                    <h3>info</h3>
                    <p>Paris is the capital of France.</p>
                </div>
                <div id="review" class="tabcontent">
                    <h3>review</h3>
                    <p>Paris is the capital of France.</p>
                </div>
                <div id="shipDeliv" class="tabcontent">
                    <h3>ship deliv</h3>
                    <p>Paris is the capital of France.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-products">
    <div class="container">
        <div class="_card-grid">
            <div class="_card">
                <img src="~/images//placeholders/270x295.svg" />
                <div class="_card-content">
                    <p>Apple watch series</p>
                    <div class="price">
                        <p class="discount-price">$30.00</p>
                        <p class="original-price">$50.00</p>
                    </div>
                </div>
                <button class="add-cart">
                    <i class="fa-regular fa-cart-plus"></i>
                </button>
            </div>
            <div class="_card">
                <img src="~/images//placeholders/270x295.svg" />
                <div class="_card-content">
                    <p>Apple watch series</p>
                    <div class="price">
                        <p class="discount-price">$30.00</p>
                        <p class="original-price">$50.00</p>
                    </div>
                </div>
                <button class="add-cart">
                    <i class="fa-regular fa-cart-plus"></i>
                </button>
            </div>
            <div class="_card">
                <img src="~/images//placeholders/270x295.svg" />
                <div class="_card-content">
                    <p>Apple watch series</p>
                    <div class="price">
                        <p class="discount-price">$30.00</p>
                        <p class="original-price">$50.00</p>
                    </div>
                </div>
                <button class="add-cart">
                    <i class="fa-regular fa-cart-plus"></i>
                </button>
            </div>
            <div class="_card">
                <img src="~/images//placeholders/270x295.svg" />
                <div class="_card-content">
                    <p>Apple watch series</p>
                    <div class="price">
                        <p class="discount-price">$30.00</p>
                        <p class="original-price">$50.00</p>
                    </div>
                </div>
                <button class="add-cart">
                    <i class="fa-regular fa-cart-plus"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<partial name="/Views/Partials/_Footer.cshtml" />