@model AddProductViewModel

<div>Add product</div>
<form method="post">
	<div class="mb-3">
		<label asp-for="Name">Product Name</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Price">Product Price</label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Description">Product Name</label>
		<input asp-for="Description" class="form-control" />
		<span asp-validation-for="Description"></span>
	</div>
	<div class="mb-3">
		<select asp-for="SelectedCategoryId" multiple>
		@foreach(var category in await productCategoryService.GetCategoriesAsync())
		{
		<option value="@category.Value">@category.Name</option>
		}
		</select>
		@*<select asp-for="SelectedCategoryId" asp-items="@(new SelectList(await productCategoryService.GetCategoriesAsync(), "Name", "Name"))">
		</select>*@

		@*<select asp-for="Form.Category.Name" asp-items="@(new SelectList(await productCategoryManager.GetCategoriesAsync(), "Value", "Name"))">*@
		@*<select asp-for="SelectedCategoryId" asp-items="@(new SelectList(await productCategoryService.GetCategoriesAsync(), "Value", "Name"))" multiple>
			@foreach (var category in await productCategoryService.GetCategoriesAsync())
		{
		<option value="@category.Value">@category.Name</option>
		}
		</select>*@
	</div>

	<button type="submit" class="btn btn-success">ADD PRODUCT</button>
</form>